<html>
	<body>
		 <form action="/result" method="POST">
		 	En Kötü İhtimal Ücreti:
		 	<input name="wrs" type="text">
		 	<hr>
		 	Cinsiyet:
			<select name="gen">
				<option value="-1">Hepsi</option>
				<option value="0">Erkek</option>
				<option value="1">Kadın</option>
			</select>
			<hr>
		 	Yaş Aralığı:
		  	<select name="age">
				<option value="-1">Hepsi</option>
				<option value="0">-18</option>
				<option value="1">18-25</option>
				<option value="2">25-30</option>
				<option value="3">30-40</option>
				<option value="4">40-60</option>
				<option value="5">60+</option>
			</select>		
			<hr>
			Eğitim Bilgisi:
			<select name="edu">
				<option value="-1">Hepsi</option>
				<option value="0">İlkokul</option>
				<option value="1">Lise</option>
				<option value="2">Üniversite</option>
				<option value="3">Yüksek Lisans / Doktora</option>
			</select>
			<hr>
			Medeni Durum:
			<select name="mar">
				<option value="-1">Hepsi</option>
				<option value="0">Bekar</option>
				<option value="1">Evli</option>
			</select>
			<hr>
			İş:
			<select name="job">
			  	{% for job in job_data %}
	              <option value="{{ job }}">{{ job }}</option>
	        	{% endfor %}
			</select>
			<hr>
			Saat Aralığı:
			<select name="clk">
				<option value="-1">Hepsi</option>
				<option value="0">00:00-04:00</option>
				<option value="1">04:00-08:00</option>
				<option value="2">08:00-12:00</option>
				<option value="3">12:00-16:00</option>
				<option value="4">16:00-20:00</option>
				<option value="5">20:00-24:00</option>
			</select>
			<hr>
			Kategori:
			<select name="cat">
			  	{% for cat in cat_data %}
	              <option value="{{ cat }}">{{ cat }}</option>
	        	{% endfor %}
			</select>
			<hr>
		  	<input type="submit" value="Submit">
		</form> 
	</body> 
</html>